/ {
    behaviors {
        // -- Custom hold-tap --------------------------------------------------

        tt:    HOLD_TAP(trans_tap,    <&trans>, <&kp>)

        c_lt:  HOLD_TAP(custom_lt,    <&mo>,    <&kp>)
        lt_cw: HOLD_TAP(lt_caps_word, <&mo>,    <&caps_word>)

        // -- Custom mod-morph -------------------------------------------------

        mm_arrows:       SHIFT_MORPH(mm_arrows,       <&m_arrow_r>,       <&m_arrow_l>)
        mm_fat_arrows:   SHIFT_MORPH(mm_fat_arrows,   <&m_fat_arrow_r>,   <&m_fat_arrow_l>)
        mm_tilde_arrows: SHIFT_MORPH(mm_tilde_arrows, <&m_tilde_arrow_r>, <&m_tilde_arrow_l>)
        mm_pipes:        SHIFT_MORPH(mm_pipes,        <&m_pipe_r>,        <&m_pipe_l>)
        mm_chevrons:     SHIFT_MORPH(mm_chevrons,     <&m_ex_bitstring>,  <&m_chevrons>)
        mm_backticks:    SHIFT_MORPH(mm_backticks,    <&m_backticks>,     <&m_triple_backticks>)
        mm_ex_specs:     SHIFT_MORPH(mm_elixir_specs, <&m_ex_spec>,       <&m_ex_type>)

        // -- Custom sticky key ------------------------------------------------

        sk_qr: STICKY_KEY_QUICK_RELEASE(sk_quick_release, <&kp>)

        // -- Home row mod -----------------------------------------------------

        hrm_ri: HRM_INDEX(hrm_right_index,   LEFT_HAND)
        hrm_rm: HRM_MIDDLE(hrm_right_middle, LEFT_HAND)
        hrm_rr: HRM_RING(hrm_right_ring,     LEFT_HAND)
        hrm_rl: HRM_LITTLE(hrm_right_little, LEFT_HAND)

        hrm_li: HRM_INDEX(hrm_left_index,    RIGHT_HAND)
        hrm_lm: HRM_MIDDLE(hrm_left_middle,  RIGHT_HAND)
        hrm_lr: HRM_RING(hrm_left_ring,      RIGHT_HAND)
        hrm_ll: HRM_LITTLE(hrm_left_little,  RIGHT_HAND)

        // -- Thumb ------------------------------------------------------------

        thumb: THUMB(thumb)
    };
};
